<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IAMR Farmers Market</title>
    {% block scripts %}{% endblock %}
</head>
<body>
    {% for message in get_flashed_messages() %}
    <div class="flash" style="display: none">{{ message }}</div>
    {% endfor %}
    <nav>
        <a href="/">Home</a>
        <a href="/cart">Cart</a>
        {% if current_user.is_authenticated %}
        <a href="/inventory">Inventory</a>
        <a href="/logout">logout</a>
        {% else %}
        <a href="/register">Sign up</a>
        <a href="/login">Login</a>
        {% endif %}
    </nav>
    <header>{% block header %}{% endblock %}</header>
    {% block content %}{% endblock %}
</body>
</html>